{if $op=="display"}
{template 'header'}
<header data-am-widget="header" class="am-header am-header-default am-header-fixed page-header">
<div class="am-header-left am-header-nav">
    <a href="javascript:history.back(-1);">
        <i class="am-header-icon am-icon-chevron-left"></i>
    </a>
</div>
<h1 class="am-header-title">{php echo empty($educate)?"全部课程":$educate['name'];}</h1>

<div class="am-header-right am-header-nav" style="margin-right: 40px;">
    <a href="javascript:$('.edusearch-box').slideToggle();">
        <i class="am-header-icon am-icon-search"></i>
    </a>
</div>

<nav data-am-widget="menu" class="am-menu am-menu-offcanvas1" data-am-menu-offcanvas> 
<a href="javascript: void(0)" class="am-menu-toggle" style="margin-right: -10px;">
    <i class="am-menu-toggle-icon am-icon-th-list"></i>
</a>
<div class="am-offcanvas" >
    <div class="am-offcanvas-bar am-offcanvas-bar-flip">
        <ul class="am-menu-nav am-avg-sm-1">
            <li>
                <a href="{php echo $this->createMobileUrl('educate',array('cateid'=>0));}">
                    全部课程
                </a>
            </li>
            {loop $educatelist $row}
            <li>
                <a href="{php echo $this->createMobileUrl('educate',array('cateid'=>$row['id']));}">
                    {$row['name']}
                </a>
            </li>
            {/loop}
        </ul>
    </div>
</div>
</nav>
</header>

<!-- 搜索 -->
<div class="am-container am-topbar-fixed-top am-padding-top-sm edusearch-box">
<form method="get" action="" class="am-form am-form-inline">
<input type="hidden" name="c" value="entry" />
<input type="hidden" name="i" value="{$_W['uniacid']}" />
<input type="hidden" name="m" value="vlinke_fdcparty" />
<input type="hidden" name="do" value="educate" />
    <div class="am-input-group">
        <input type="text" name="keywords" class="am-form-field" value="{$keywords}" placeholder="请输入搜索的课程标题...">
        <span class="am-input-group-btn">
            <input type="hidden" name="token" value="{$_W['token']}" />
            <button class="am-btn am-btn-default" type="submit"><span class="am-icon-search"></span></button>
        </span>
    </div>
</form>

<ul class="am-avg-sm-3 am-thumbnails am-padding-top-sm">
    <li>
        <a href="{php echo $this->createMobileUrl('educate',array('dostudy'=>'nostudy'));}" class="am-btn am-btn-primary am-btn-block">未学习</a>
    </li>
    <li>
        <a href="{php echo $this->createMobileUrl('educate',array('dostudy'=>'dostudy'));}" class="am-btn am-btn-primary am-btn-block">正在学习</a>
    </li>
    <li>
        <a href="{php echo $this->createMobileUrl('educate',array('dostudy'=>'okstudy'));}" class="am-btn am-btn-primary am-btn-block">已完成</a>
    </li>
</ul>
</div>


<div class="am-container bg-fff am-padding-top">
<ul class="am-avg-sm-2 am-thumbnails" id="list">
</ul>
</div>

<div class="am-container am-padding-top am-padding-bottom">
    <button type="button" class="am-btn am-btn-default am-btn-block" id="getmore">点击加载更多</button>
</div>

<script type="text/javascript">
var page = 1;
$(function() {
    getMore();
})
$("#getmore").click(function() {
    getMore();
});
function getMore() {
    $.ajax({
        type: 'POST',
        url: "{php echo $this->createMobileUrl('educate',array('op'=>'getmore','cateid'=>$cateid,'stustatus'=>$stustatus,'keywords'=>$keywords,'dostudy'=>$dostudy));}",
        data: {page:page},
        success: function(ret){
            // console.log(ret);
            if (ret == 'NOTHAVE') {
                $("#getmore").attr({"disabled":"disabled"});
                $("#getmore").html("已全部加载完");
            }else{
                $("#list").append(ret);
                page ++ ;  
            }
        },
    }); 
}
</script>
{template 'footer'}
{elseif $op=="getmore"}
{loop $list $row}
<li class="edulesson-box">
    <a href="{php echo $this->createMobileUrl('edulesson',array('id'=>$row['id']));}">
        <img class="am-img-thumbnail" src="{php echo tomedia($row['tilpic']);}"/>
    </a>
    <h3 class="am-margin-vertical-xs am-text-justify">
        <a href="{php echo $this->createMobileUrl('edulesson',array('id'=>$row['id']));}">
            {$row['title']}
        </a>
    </h3>
    <p class="am-margin-vertical-xs am-text-xs am-link-muted">
        {if $row['stustatus']==1}
        <span class="am-fr am-badge am-badge-danger">必修</span>
        {else}
        <span class="am-fr am-badge am-badge-primary">选修</span>
        {/if}

        <span>
        {if empty($edustudy[$row['id']])}
        未学习
        {elseif $edustudy[$row['id']]['status']==1}
        正在学习
        {else}
        已完成
        {/if}
        </span>
    </p>
</li>
{/loop}
{/if}