{if $op=="display"}
{template 'header'}
<header data-am-widget="header" class="am-header am-header-default am-header-fixed page-header">
<div class="am-header-left am-header-nav">
    <a href="javascript:history.back(-1);">
        <i class="am-header-icon am-icon-chevron-left"></i>
    </a>
</div>
<h1 class="am-header-title">考试项目</h1>

<nav data-am-widget="menu" class="am-menu am-menu-offcanvas1" data-am-menu-offcanvas> 
<a href="javascript: void(0)" class="am-menu-toggle" style="margin-right: -10px;">
    <i class="am-menu-toggle-icon am-icon-th-list"></i>
</a>
<div class="am-offcanvas" >
    <div class="am-offcanvas-bar am-offcanvas-bar-flip">
        <ul class="am-menu-nav am-avg-sm-1">
            <li>
                <a href="{php echo $this->createMobileUrl('exahome')}">
                    在线考试
                </a>
            </li>
            <li>
                <a href="{php echo $this->createMobileUrl('exaday')}">
                    每日测试
                </a>
            </li>
            <li>
                <a href="{php echo $this->createMobileUrl('exapaper')}">
                    考试项目
                </a>
            </li>
            <li>
                <a href="{php echo $this->createMobileUrl('exaanswer')}">
                    我的成绩
                </a>
            </li>
        </ul>
    </div>
</div>
</nav>
</header>

<div data-am-widget="list_news" class="am-list-news am-list-news-default media-list" >
<div class="am-list-news-bd">
<ul class="am-list" id="list">
</ul>
</div>
</div>

<div class="am-container am-padding-top am-padding-bottom">
    <button type="button" class="am-btn am-btn-default am-btn-block" id="getmore">点击加载更多</button>
</div>
<script type="text/javascript">
var page = 1;
$(function() {
    getMore();
})
$("#getmore").click(function() {
    getMore();
});
function getMore() {
    $.ajax({
        type: 'POST',
        url: "{php echo $this->createMobileUrl('exapaper',array('op'=>'getmore'));}",
        data: {page:page},
        success: function(ret){
            // console.log(ret);
            if (ret == 'NOTHAVE') {
                $("#getmore").attr({"disabled":"disabled"});
                $("#getmore").html("已全部加载完");
            }else{
                $("#list").append(ret);
                page ++ ;  
            }
        },
    }); 
}
</script>
{template 'footer'}
{elseif $op=="getmore"}
{loop $list $row}
<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
    <div class="am-u-sm-12 am-list-main">
        <a href="{php echo $this->createMobileUrl('exapaper',array('op'=>'create','exapaperid'=>$row['id']));}">
        <h3 class="am-list-item-hd am-text-justify">
            {$row['title']}
        </h3>
        <div class="am-list-item-text">
            考试时长：{$row['timelimit']}分钟<br>
            截止时间：{php echo date("Y-m-d H:i",$row['endtime']);}
            {if $exaanswer[$row['id']]['status']==2}
            <span class="am-badge am-badge-success am-fr">已完成</span>
            {elseif $exaanswer[$row['id']]['status']==1}
            <span class="am-badge am-badge-primary am-fr">答卷中</span>
            {else}
            <span class="am-badge am-badge-danger am-fr">未应试</span>
            {/if}
        </div>
        </a>
    </div>
</li>
{/loop}
{/if}