{if $op=="display"}
{template 'header'}
<header data-am-widget="header" class="am-header am-header-default am-header-fixed page-header">
<div class="am-header-left am-header-nav">
    <a href="javascript:history.back(-1);">
        <i class="am-header-icon am-icon-chevron-left"></i>
    </a>
</div>
<h1 class="am-header-title">志愿服务认领</h1>
<div class="am-header-right am-header-nav">
    <a href="{php echo $this->createMobileUrl('home');}">
        <i class="am-header-icon am-icon-home"></i>
    </a>
</div>
</header>

<div data-am-widget="list_news" class="am-list-news am-list-news-default media-list" >
<div class="am-list-news-bd">
<ul class="am-list" id="list">
</ul>
</div>
</div>

<div class="am-container am-padding-top am-padding-bottom">
    <button type="button" class="am-btn am-btn-default am-btn-block" id="getmore">点击加载更多</button>
</div>
<script type="text/javascript">
var page = 1;
$(function() {
    getMore();
})
$("#getmore").click(function() {
    getMore();
});
function getMore() {
    $.ajax({
        type: 'POST',
        url: "{php echo $this->createMobileUrl('serlog',array('op'=>'getmore'));}",
        data: {page:page},
        success: function(ret){
            // console.log(ret);
            if (ret == 'NOTHAVE') {
                $("#getmore").attr({"disabled":"disabled"});
                $("#getmore").html("已全部加载完");
            }else{
                $("#list").append(ret);
                page ++ ;  
            }
        },
    }); 
}
</script>
{template 'footer'}
{elseif $op=="getmore"}
{loop $list $row}
<li class="am-g am-list-item-desced am-list-item-thumbed am-list-item-thumb-left">
    <div class="am-u-sm-10 am-list-main">
        <h3 class="am-list-item-hd am-text-justify">
            <a href="{php echo $this->createMobileUrl('seritem',array('id'=>$row['itemid']));}">
            {$row['title']}
            </a>
        </h3>
        <div class="am-list-item-text">
            <span >{php echo date("Y-m-d H:i",$row['createtime'])}</span>
        </div>
    </div>
    <div class="am-u-sm-2">
        <span class="am-fr">{$row['getval']}</span>
    </div>
</li>
{/loop}
{/if}